

div {
  border: 1px;
  border-color: black;
  border-style: solid;
  background-color: grey;
}
.first {

  min-height: 75px;
}
.second{
  min-height:150px;

}
.third,.fourth{
  min-height: 125px;
  
}

.fifth,.sixth,.seventh,.eighth{
 min-height: 250px;
  
}
.ninth{
  min-height: 80px;
}
.everything{
 max-width: 480px;
  margin: 0 auto;
  text-align: center;
}
